@import url('../../app/styles/font');
.homeSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}

.content {
  max-width: 780px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  justify-content: flex-end;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  font-family: 'CodeNext', sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #fbfbfb;
}

.description {
  font-weight: 500;
  font-size: 24px;
  color: #fbfbfb;
}
