@import url('../../../app/styles/font');

.feedbackForm {
  width: 100%;
  max-width: 580px;
  height: 100%;
  height: 655px;
}

.formWrapper {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  background-image: url('/bck/bgFeedBack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 520px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formLabel {
  font-family: 'Manrope Bold', sans-serif;
  color: #FBFBFB;
  font-size: 24px;
  line-height: 1.3;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

.formInput {
  font-family: 'Manrope Medium', sans-serif;
  padding: 14px 16px;
  border: 1px solid #fbfbfb;
  border-radius: 18px;
  font-size: 24px;
  background-color: #fbfbfb;
  backdrop-filter: blur(4px);
  color: #000000;
  transition: 0.2s ease;
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 63px;
  box-sizing: border-box;
}

.formInput::placeholder {
  font-family: 'Manrope Medium', sans-serif;
  color: #a8a8a8;
}

.phoneInputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #fbfbfb;
  border-radius: 18px;
  background-color: #fbfbfb;
  overflow: hidden;
  height: 63px;
}

.phonePrefix {
  font-family: 'Manrope SemiBold', sans-serif;
  padding: 14px 0 14px 16px;
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 8px;
}

.phoneInput {
  font-family: 'Manrope SemiBold', sans-serif;
  padding: 14px 16px 14px 8px;
  border: none;
  width: 100%;
  max-width: 520px;
  font-size: 24px;
  height: 100%;
  background-color: transparent;
  color: #000000;
  flex: 1;
  outline: none;
  min-width: 0;
}

.phoneInput::placeholder {
  font-family: 'Manrope SemiBold', sans-serif;
  color: #a8a8a8;
}

.formTextarea {
  font-family: 'Manrope Regular', sans-serif;
  padding: 20px 17px;
  border-radius: 18px;
  font-size: 23px;
  resize: none;
  background-color: #fbfbfb;
  color: #000000;
  height: 125px;
  min-height: 125px;
  max-height: 125px;
  transition: 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.2;
  overflow-y: auto;
  scrollbar-width: none;
}

.formTextarea::placeholder {
  font-family: 'Manrope Regular', sans-serif;
  color: #a8a8a8;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: calc(1.3em * 3 + 5px);
  line-height: 128%;
}

.formSubmit {
  padding-top: 50px;
  margin-top: auto;
}