.header {
  padding: 0 9px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 32px 46px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoIcon {
  width: 42px;
  height: 42px;
}

.logoText {
  display: flex;
  flex-direction: column;
}

.logoTitle {
  font-weight: 700;
  font-size: 24px;
  color: #FBFBFB;
  margin: 0;
}

.contactsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactText {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #FBFBFB;
}

.rightSection {
  max-width: 660px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
}

.navItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  font-weight: 500;
  font-size: 20px;
  color: #FBFBFB;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px 16px;
  border-radius: 32px;
  border: 1px solid transparent;
}

.navLink:hover {
  border-color: #FBFBFB;
}
