@import url('../../app/styles/font');

.header {
  position: relative;
  z-index: 1000;
  background-color: transparent;
}

.container {
  margin: 32px;
  padding: 0 32px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 64px;
}
.logoSection {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logoIcon {
  width: 42px;
  height: 42px;
}
.logoText {
  display: flex;
  flex-direction: column;
}
.logoTitle {
  font-family: 'Manrope Bold', sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}
.contactsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-left: 20px;
  margin-left: 20px;
}
.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contactText {
  font-family: 'Manrope Medium', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.rightSection {
  display: flex;
  align-items: center;
  gap: 62px;
  flex: 1;
  max-width: 700px;
}
.nav {
  display: flex;
  gap: 100px;
}
.navLink {
  font-family: 'Manrope Medium', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
  position: relative;
  white-space: nowrap;
  min-width: 120px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.navLink:hover {
  border: 1px solid white;
  border-radius: 32px;
}
.contactButton {
  background: #ddf28a;
  color: #222722;
  border-radius: 32px;
  width: 176px;
  height: 46px;
  gap: 16px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 32px;
  height: 32px;
}
