.aboutSection {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 42px;
  box-sizing: border-box;
  border-top-left-radius: 32px;
}

.container {
  width: 100%;
  max-width: 1356px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}
