.masterButton {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.buttonText {
  white-space: nowrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
