@import url('../../app/styles/font');
.productsSection {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 42px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1356px;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.productTitle {
  font-family: 'CodeNext', sans-serif;
  color: #222722;
  font-size: 52px;
  line-height: 1.2;
  margin-bottom: 42px;
  text-align: center;
}
