@import url('../../../app/styles/font');
.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 22px;
  background: #3E5133;
  width: 317px;
  height: 140px;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.statValue {
  font-family: 'Manrope ExtraBold', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 112;
  color: #E4ECC4;
  line-height: 1;
}
.statLabel {
  font-family: 'Manrope Medium', sans-serif;
  font-size: 24px;
  color: #E4ECC4;
  line-height: 1.2;
}