.widget {
  width: 100%;
  max-width: 317px;
  height: 140px;
  padding: 20px;
  border-radius: 22px;
  background: #3e5133;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.statValue {
  font-size: 48px;
  font-weight: 800;
  color: #e4ecc4;
  line-height: 1.2;
}

.statLabel {
  font-size: 24px;
  font-weight: 500;
  color: #e4ecc4;
  line-height: 1.2;
}
