.widget {
  width: 430px;
  height: 560px;
  border-radius: 22px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(48, 61, 40, 0.2);
}

.widget:hover {
  box-shadow: 0 4px 12px rgba(48, 61, 40, 0.6);
}

.imageWrapper {
  width: 100%;
  height: 370px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: background-color 0.3s ease;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #485b43;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    color 0.3s ease;
  padding: 20px;
}

.widget:hover .content {
  background-color: #c2cc9a;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.widget:nth-child(1) .imageWrapper {
  background-position: 70% center;
}

.widget:nth-child(2) .imageWrapper {
  background-position: 70% center;
}

.widget:nth-child(3) .imageWrapper {
  background-position: 5% center;
  background-size: 195%;
}

.contentInner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
  width: 100%;
}

.title {
  font-weight: 800;
  font-size: 28px;
  margin: 0;
  line-height: 1.12;
  color: #fbfbfb;
  transition: color 0.3s ease;
}

.widget:hover .title {
  color: #222722;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.9;
  margin: 0;
  color: #fbfbfb;
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
}

.widget:hover .text {
  color: #222722;
  opacity: 1;
}
