@import url('../../../app/styles/font');
.widgetInfo {
  display: flex;
  gap: 60px;
  width: 100%;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.title {
  font-family: 'Manrope Medium', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  color: #222722;
  margin: 0;
}
.tabsRow {
  display: flex;
  gap: 16px;
}
.tab {
  font-family: 'Manrope Medium', sans-serif;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 16px 16px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
  position: relative;
}
.tab.active {
  font-family: 'Manrope Bold', sans-serif;
  background: #f5f5f5;
  color: #222722;
  text-decoration: underline;
  text-decoration-color: #222722;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.rightColumn {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 90%;
}
.tabContent {
  background: #f8f8f8;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamContent {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.teamImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.teamImageContainer {
  border-radius: 12px;
  overflow: hidden;
  background: #e0e0e0;
  transform: rotate(4deg);
  position: relative;
}

.teamImageContainer:nth-child(1) {
  width: 90px; 
  height: 115px;
  justify-self: start;
  align-self: start;
  margin-left: 15px;
  margin-top: 10px;
}

.teamImageContainer:nth-child(2) {
  width: 120px;
  height: 154px;
  justify-self: end;
  align-self: start;
}

.teamImageContainer:nth-child(3) {
  width: 120px;
  height: 154px;
  justify-self: start;
  align-self: end;
}

.teamImageContainer:nth-child(4) {
  width: 90px;
  height: 115px;
  justify-self: end;
  align-self: end;
  margin-right: 15px;
  margin-bottom: 15px;
}

.teamImageContainer:nth-child(2) .teamImage {
  object-position: -120px center;
}

.teamImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamText {
  font-family: 'Manrope SemiBold', sans-serif;
  font-weight: 600;
  height: 220px;
  flex: 1;
  font-size: 26px;
  line-height: 1.2;
}

.textContent {
  font-family: 'Manrope SemiBold', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  text-align: start;
  width: 100%;
}